.heading {
    
    font-weight: normal;
    font-size: 50px;
    color: white;
    text-align: center;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: black;
    text-align: center;
}

.link {
    color:aquamarine;
    font-size: 16px;
}

.subheading {
    color: white;
    font-weight: 300;
    font-size: 42px;
}

.sub {
    
    font-size: 21px;
    color: grey;
}

footer {
    text-align: right;
    color: gray;
    font-size: 21px;
}

.animate__animated.animate__fadeIn {
    --animate-duration: 2s;
  }